*{
    margin: 0 ;
    padding: 0 ;
}
@media print {
  * { margin: 0 !important; padding: 0 !important; }
  .header, .footer, .footerarea{ display: none; }
  html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    overflow: hidden;
    background: #FFF;

   /* font-size: 9.5pt;
    height:3.5in;
    width: 8.5in;*/
  }

  /*.template { width: auto; left:0; top:0; }
  img { width:100%; }
  li { margin: 0 0 10px 20px !important;}*/
}

@page {
   size: 8.5in 11in;
   margin: .05in .17in .05in .62in;
   /*margin: .25in .25in .25in .75in;*/
}

@font-face {
    font-family: "kalpurush";
    src: url(../Fonts/kalpurush.ttf) format("truetype");
}

body {
    background-color: white;
    font-family: 'Arial Narrow', kalpurush;
    font-size: 11pt;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}


th, td {
    padding: 0px;
    text-align: left;
    vertical-align: middle;
}

.topLabel {
    font-size: 9pt;
    font-weight: bold;
}

.label {
    font-size: 10pt;
    font-weight: bold;
}

.topFieldValue {
    font-size: 8pt;
}

#main {
    width: 7.5in;
    height: 3.0in;
    background-color: lightgray;
    /*padding: 0.25in 0.25in 0.25in 0.75in;*/
}

#agent_banking_logo {
    width: .85in;
    max-height: .40in;
    float: right;
}

#logo {
    width: .85in;
    max-height: .5in;
    float: left;
}




#threeColumnTable {
    float: left;
    width: 100%;
}

.tdSide {
    width: 20%;
    vertical-align: top;
}

.tdMiddle {
    width: 60%;
}

#thirdTable {
    float: left;
    width: 100%;
}

    #thirdTable tr {
        /*height: 15px;*/
    }

#fourthTable {
    float: left;
    width: 100%;
}

    #fourthTable tr {
        /*height: 15px;*/
    }

#customerPhoto {
    width: .85in;
    height: .75in;
    float: left;
}

#addressDiv {
    float: right;
    font-size: 9px;
}

#tableMiddle {
    margin: 0 auto;
    height: auto;
}
