@font-face {
    font-family: "SolaimanLipi";
    /*src: url(file:///android_asset/fonts/SolaimanLipi_22-02-2012.ttf) format("truetype");*/
    src: url('../Fonts/SolaimanLipi_22-02-2012.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

@page {
    size: letter;
    margin: .25in .25in .25in .75in;
}

@media print {
    @page {
        margin: 0 .15in .25in .6in;
    }
}

body {
    font-family: 'Arial Narrow', SolaimanLipi;
    font-size: 11pt;
}

.main {
    width: 7.5in;
    height: 3.0in;
    position: relative;
}

.logo {
    width: .658in;
    height: .4in;
    float: left;
}

.elmentCtr {
    margin: 0 auto;
}

.accountBasic {
    margin: 10px auto 0;
}

.agent_banking_logo {
    width: .85in;
    max-height: .40in;
    float: right;
}

.addressDiv {
    float: right;
    font-size: 8px;
    margin-top: 3px;
    text-align: right;
}

.footer {
    font-size: 5pt;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.title {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.phone {
    position: absolute;
    left: 0;
}

.web {
    position: absolute;
    right: 0;
}

.email {
    text-align: right;
}

.website {
    text-align: center;
}

.footerInfo {
    text-align: center;
}

.customerPhoto {
    width: .75in;
    height: .75in;
    float: left;
    padding: 5px 0 5px 0;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

table, th, td {
    border-collapse: collapse;
    /*border: 1px solid lightgray;*/
}

tr {
    line-height: 10px;
}

.topLabel {
    font-size: 6pt;
    font-weight: bold;
}

.label {
    font-size: 7pt;
    font-weight: bold;
    vertical-align: top;
}

.topFieldValue {
    font-size: 6pt;
    text-transform: uppercase;
}

.fieldValue {
    font-size: 7pt;
    text-transform: uppercase;
    vertical-align: top;
}

.generalFieldValue {
    font-size: 7pt;
    vertical-align: top;
}


.cellPadding {
    padding-bottom: 1px !important;
}

.cellPaddingTop {
    padding-top: 2px;
    padding-bottom: 2px;
}

table tr td.colon, span.colon {
    width: 7px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    font-size: 7pt;
    font-weight: bold;
}

span.colon {
    width: 7px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    font-size: 7pt;
    font-weight: bold;
}

.boldFieldValue {
    font-size: 7pt;
    font-weight: bold;
    text-transform: uppercase;
}

.copy {
    position: absolute;
    margin-left: -45px;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
}

.customerAddress {
    vertical-align: top;
}

.thirdTable, .fourthTable {
    width: 85%;
}

.container {
    overflow: hidden;
}

.firstColumn {
    width: 17%;
}

.fourthColumn {
    width: 17%;
    padding-left: 10px;
}

.sixthColumn {
    width: 110px;
}

.lastColumn {
    width: 16%;
}

.money {
    text-align: right;
}

.right {
    text-align: right;
}

.qrCodeImg {
    width: .85in;
    height: .75in;
    float: right;
}
